@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-attachment: fixed;
}

.nav-bar {
  position: fixed;
  background-color: #FF5F6D;
  height: 85px;
  width: 245px;
  color: white;
}

#nav-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 35px;
  align-self: center;
}

#nav-icons {
  position: fixed;
  top: 85px;
  width: 245px;
  height: 100%;
  background: linear-gradient(#FF5F6D, #FFC371);
}

#nav-yoga-icon {
  position: fixed;
  top: 30%;
  left: 55px;
}

#nav-dance-icon {
  position: fixed;
  top: 50%;
  left: 57px;
}

#best-hp {
  position: fixed;
  bottom: 5%;
  left: 75px;
}

#hp-text {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
    position:absolute;
    left:240px;
    width:82vw;
    height: 100vh;
  }


  video {
    position: absolute;
    left:240px;
    width: 82vw;
    height: 100vh;


  }
